.app_posts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .post {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .post_image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .post_caption {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }
  
  .post p {
    margin: 5px 0;
  }

  .app_posts {
    margin-top: 70px; /* Adjust margin to push content below the header */
    padding: 10px; /* Add padding to the posts container */
  }